<div class="container-fluid">
    <div class="row" >
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/FotoPerfil.jpg" class="fperfil" alt="foto perfil" >
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Mónaco Ojeda Nicolás</p>
            <p id="perfil">Full Stack Developer Jr</p>
        </div>
        <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi:</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quo rem ipsam quaerat explicabo, provident aperiam excepturi distinctio tenetur repellendus perspiciatis, totam voluptates obcaecati eveniet minima. Iste incidunt sint eligendi.</p>
            </span>
        </div>
    </div>
</div>