


<div class="conteiner-fluid">
   
    <div class="row" py-3>
        
        <h1>Experiencia Laboral</h1>
            
        <div class="col-lg-1"> </div>     
            <div class="col-lg-10">
            
                    <ul>
                    
                        <li>TRABAJO 1
                            <h3>(years)</h3>
                        </li> 
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veniam velit sint dolore neque est aliquid rerum totam reprehenderit minima.</p>
                    </ul>
                    <ul>
                        <li>TRABAJO 2
                            <h3>(years)</h3>
                        </li> 
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum atque dolorem fugiat iusto fugit mollitia hic aspernatur ab maiores earum facilis aliquam culpa dolor error quia eos, quasi, modi odit. Reprehenderit maiores at mollitia ipsum expedita magnam officiis eos inventore.
                            </p>
                    
                </ul>
            </div>   
    </div>        
</div>
